.filter_list {
  :global {
    .comment {
      margin-bottom: 10px;
      padding-left: 20px;
      color: #999;
      font-size: 14px;
    }
    .category {
      padding-left: 20px;
    }
    .specialtys{
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding: 10px;
      .specialty {
        margin: 5px;
      }
    }
    .van-divider {
      margin: 0;
      margin-top: 5px;
    }
  }
}
