.index {
  padding-bottom: 20px;
  .van-search__content {
    background-color: unset;
    padding-left: 8px;
  }
  .van-field__control {
    font-size: 18px;
    color: #333;
  }
  .van-search {
    padding: 0;
  }
  .info {
    margin-top: 20px;
  }
}
