.index {
  .van-search__content {
    background-color: unset;
    padding-left: 8px;
  }
  .van-field__control {
    font-size: 18px;
    color: #333;
  }
  .van-search {
    padding: 0;
  }
  .search {
    margin: 0 20px;
    border-radius: 50px;
    border: 1px solid rgb(72, 3, 119);
  }
}
