.index {
  padding-bottom: 20px;
  background-image: url('../../assets/imgs/logo.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 100px;
  .van-search__content {
    background-color: unset;
    padding-left: 8px;
  }
  .van-field__control {
    font-size: 18px;
    color: #333;
  }
  .van-search {
    padding: 0;
  }
  .info {
    margin-top: 20px;
  }
  .icon-show {
    color: rgb(72, 3, 119);
    font-size: 14px;
  }
  .icon {
    font-size: 16px;
  }
}
